.bg-wrapper h1,
h2,
h3 {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 15vw;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
}

.bg-wrapper h3 {
  font-size: 4vw;
}

.bg-wrapper h2 {
  font-size: 3vw;
}

.bg-wrapper::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  position: fixed;
  top: 2vh;
  right: 2vh;
}

.bottom-third {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-text h1,
h2 {
  display: inline;
}

.quote {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

#quote-text {
  font-size: 1.5vw;
}

#location {
  margin-top: 5px
}

.weather {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

/* Settings */
.bottom-right {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

#settings-text {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

.fa {
  position: relative;
  padding-right: 3px;
}
